@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: "dark";
  }

body {
    min-width: 500px; /* Set minimum width */
    min-height: 500px; /* Set minimum height */
  }